@import "tailwindcss";

body {
  @apply bg-(--col0) text-white select-none;
}

.dark-theme {
  --col0: rgb(8, 8, 8);
  --col1: rgb(16, 16, 16);
  --col2: rgb(32, 32, 32);
  --col3: rgb(48, 48, 48);
  --col4: rgb(64, 64, 64);
  --col5: rgb(80, 80, 80);
  --col6: rgb(96, 96, 96);
  --col7: rgb(112, 112, 112);
  --col8: rgb(128, 128, 128);
  --col9: rgb(144, 144, 144);
}

.red-theme {
  --col0: rgb(32, 8, 8);
  --col1: rgb(40, 16, 16);
  --col2: rgb(56, 32, 32);
  --col3: rgb(72, 48, 48);
  --col4: rgb(88, 64, 64);
  --col5: rgb(104, 80, 80);
  --col6: rgb(120, 96, 96);
  --col7: rgb(136, 112, 112);
  --col8: rgb(152, 128, 128);
  --col9: rgb(168, 144, 144);
}

.blue-theme {
  --col0: rgb(8, 8, 32);
  --col1: rgb(16, 16, 40);
  --col2: rgb(32, 32, 56);
  --col3: rgb(48, 48, 72);
  --col4: rgb(64, 64, 88);
  --col5: rgb(80, 80, 104);
  --col6: rgb(96, 96, 120);
  --col7: rgb(112, 112, 136);
  --col8: rgb(128, 128, 152);
  --col9: rgb(144, 144, 168);
}

.purple-theme {
  --col0: rgb(20, 8, 32);
  --col1: rgb(28, 16, 40);
  --col2: rgb(44, 32, 56);
  --col3: rgb(60, 48, 72);
  --col4: rgb(76, 64, 88);
  --col5: rgb(92, 80, 104);
  --col6: rgb(108, 96, 120);
  --col7: rgb(124, 112, 136);
  --col8: rgb(140, 128, 152);
  --col9: rgb(156, 144, 168);
}

.button {
  @apply rounded-md cursor-pointer text-[16px] py-1 px-2 transition-colors border;
}

.btntheme1 {
  @apply bg-(--col2) border-(--col4) hover:bg-(--col4) hover:border-(--col6) disabled:text-gray-300 disabled:bg-(--col1) disabled:border-(--col5) disabled:hover:text-gray-100 disabled:hover:bg-(--col2) disabled:hover:border-(--col6);
}

.btntheme2,
.downloads-entry .entry-info-item,
.downloads-entry .button {
  @apply bg-(--col3) border-(--col5) hover:bg-(--col5) hover:border-(--col7) disabled:text-gray-300 disabled:bg-(--col2) disabled:border-(--col6) disabled:hover:text-gray-100 disabled:hover:bg-(--col3) disabled:hover:border-(--col7);
}

.btntheme3,
.downloads-entry:hover .entry-info-item,
.downloads-entry:hover .button {
  @apply bg-(--col4) border-(--col6) hover:bg-(--col6) hover:border-(--col8) disabled:text-gray-300 disabled:bg-(--col2) disabled:border-(--col7) disabled:hover:text-gray-100 disabled:hover:bg-(--col4) disabled:hover:border-(--col8);
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-(--col2) rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-(--col4) w-1 rounded-lg active:bg-(--col5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup-overlay {
  @apply fixed w-screen h-screen z-99999 flex justify-center items-center animate-[fadeIn_0.2s_ease-out_forwards] left-0 top-0 bg-[rgba(0,0,0,0.5)];
}

.popup-overlay.fade-out {
  @apply animate-[fadeOut_0.2s_ease-out_forwards];
}

.popup-box {
  @apply relative w-150 h-120 rounded-lg bg-(--col1) border border-(--col3) flex flex-col p-6;
}

.popup-content {
  @apply flex-1 overflow-auto bg-(--col2) border border-(--col4) rounded-lg mt-4;
}

.popup-entry {
  @apply relative h-fit bg-(--col3) m-2 p-2 rounded-lg border border-(--col5);
}

.popup-entry button {
  @apply absolute;
}

.popup-top-button {
  @apply flex justify-center items-center absolute text-2xl text-gray-200 hover:text-white cursor-pointer h-12 w-12 p-3 rounded-lg top-2 transition-colors border;
}

*:focus {
  @apply outline-none;
}

.input-field {
  @apply border-2 border-(--col4) rounded-md bg-(--col2) py-1 px-2 focus:bg-(--col3) focus:border-(--col6) transition-colors w-full;
}

.entry-info-item {
  @apply flex flex-row items-center gap-1 border text-gray-300 py-1 px-2 rounded-md w-fit text-[16px] transition-colors cursor-pointer;
}
